@import '../mixins';
@import '../common';

.defs {
  @include set-to-zero;
  display: none;
}

.eyelash {
  fill: black;
}

.eyelash-1 {
  transform-origin: 0 0;
  transform: scale(.3) rotate(-32deg) translateX(45px) translateY(100px);
}

.eyelash-2 {
  transform-origin: 0 0;
  transform: scale(.4) rotate(-35deg) translateX(5px) translateY(60px);
}

.eyelash-3 {
  transform-origin: 0 0;
  transform: scale(.2) rotate(-27deg) translateX(130px) translateY(180px);
}

.big-flash,
.small-flash {
  fill: white;
}

.iris {
  fill: blue;
}

.big-flash {
  transform-origin: 20px 20px;
  transform: rotate(15deg);
}

.eye-hole {
  fill: black;
}

.ghost-shape-hd {
  fill: #ffbb15;
}

.ghost-shape-8b {
  fill: red;
}

.ghost-eye-8b {
  fill: white;
}

.ghost-eyeball-8b {
  fill: blue;
}

.title {
  background-color: transparent;
}

.title-text {
  @include font-8-bit-wonder;
  fill: yellow;
  stroke: black;
  stroke-width: 2;
  font-size: 40px;
  margin: 0 auto;
}

.title-background {
  fill: orange;
  stroke: black;
  stroke-width: 3;
}
