@import '../mixins';

.defs {
  @include set-to-zero;
  display: none;
}

.eyelash {
  fill: black;
  transform: scale(.5);
}

.test {
  fill: white;
  stroke: none;
  transform-origin: center center;
  transform: rotate(20deg);
}

.ghost-eye-8b {
  .ghost-eye {
    fill: white;
  }

  .ghost-eyeball {
    fill: blue;
  }
}

.ghost-8bit {
  @include set-to-zero;
  background-color: black;

  .ghost-shape-8b {
    fill: red;
    //stroke: magenta;
    //stroke-width: 5px;
  }
}

.ghost-hd {
  @include set-to-zero;
  background-color: bisque;
}
