*,
html,
body {
  border: 0;
  margin: 0;
  padding: 0; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px; }

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.defs {
  border: 0;
  margin: 0;
  padding: 0;
  display: none; }

.eyelash {
  fill: black; }

.eyelash-1 {
  x: 20px;
  y: 40px;
  -webkit-transform-origin: 20px 20px;
      -ms-transform-origin: 20px 20px;
          transform-origin: 20px 20px;
  -webkit-transform: scale(0.3) rotate(-35deg);
      -ms-transform: scale(0.3) rotate(-35deg);
          transform: scale(0.3) rotate(-35deg); }

.eyelash-2 {
  x: 20px;
  y: 5px;
  -webkit-transform-origin: 20px 5px;
      -ms-transform-origin: 20px 5px;
          transform-origin: 20px 5px;
  -webkit-transform: scale(0.4) rotate(-35deg);
      -ms-transform: scale(0.4) rotate(-35deg);
          transform: scale(0.4) rotate(-35deg); }

.eyelash-3 {
  x: 20px;
  y: 45px;
  -webkit-transform-origin: 20px 45px;
      -ms-transform-origin: 20px 45px;
          transform-origin: 20px 45px;
  -webkit-transform: scale(0.2) rotate(-45deg);
      -ms-transform: scale(0.2) rotate(-45deg);
          transform: scale(0.2) rotate(-45deg); }

.big-flash,
.small-flash {
  fill: white; }

.iris {
  fill: blue; }

.big-flash {
  -webkit-transform-origin: 20px 20px;
      -ms-transform-origin: 20px 20px;
          transform-origin: 20px 20px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg); }

.eye-hole {
  fill: black; }
