@font-face {
  font-family: "8BitWonder";
  src: url("../fonts/8bitwonder/8-bit_wonder.eot");
  src: url("../fonts/8bitwonder/8-bit_wonder.eot?#iefix") format("embedded-opentype"), url("../fonts/8bitwonder/8-bit_wonder.woff2") format("woff2"), url("../fonts/8bitwonder/8-bit_wonder.woff") format("woff"), url("../fonts/8bitwonder/8-bit_wonder.ttf") format("truetype"), url("../fonts/8bitwonder/8-bit_wonder.svg#icon") format("svg"); }

@font-face {
  font-family: "PressStart";
  src: url("../fonts/pressstart/pressstart2p.eot");
  src: url("../fonts/pressstart/pressstart2p.eot?#iefix") format("embedded-opentype"), url("../fonts/pressstart/pressstart2p.woff2") format("woff2"), url("../fonts/pressstart/pressstart2p.woff") format("woff"), url("../fonts/pressstart/pressstart2p.ttf") format("truetype"), url("../fonts/pressstart/pressstart2p.svg#icon") format("svg"); }

*,
html,
body {
  border: 0;
  margin: 0;
  padding: 0; }

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: "8BitWonder";
  src: url("../fonts/8bitwonder/8-bit_wonder.eot");
  src: url("../fonts/8bitwonder/8-bit_wonder.eot?#iefix") format("embedded-opentype"), url("../fonts/8bitwonder/8-bit_wonder.woff2") format("woff2"), url("../fonts/8bitwonder/8-bit_wonder.woff") format("woff"), url("../fonts/8bitwonder/8-bit_wonder.ttf") format("truetype"), url("../fonts/8bitwonder/8-bit_wonder.svg#icon") format("svg"); }

@font-face {
  font-family: "PressStart";
  src: url("../fonts/pressstart/pressstart2p.eot");
  src: url("../fonts/pressstart/pressstart2p.eot?#iefix") format("embedded-opentype"), url("../fonts/pressstart/pressstart2p.woff2") format("woff2"), url("../fonts/pressstart/pressstart2p.woff") format("woff"), url("../fonts/pressstart/pressstart2p.ttf") format("truetype"), url("../fonts/pressstart/pressstart2p.svg#icon") format("svg"); }

*,
html,
body {
  border: 0;
  margin: 0;
  padding: 0; }

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.defs {
  border: 0;
  margin: 0;
  padding: 0;
  display: none; }

.eyelash {
  fill: black; }

.eyelash-1 {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(0.3) rotate(-32deg) translateX(45px) translateY(100px);
      -ms-transform: scale(0.3) rotate(-32deg) translateX(45px) translateY(100px);
          transform: scale(0.3) rotate(-32deg) translateX(45px) translateY(100px); }

.eyelash-2 {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(0.4) rotate(-35deg) translateX(5px) translateY(60px);
      -ms-transform: scale(0.4) rotate(-35deg) translateX(5px) translateY(60px);
          transform: scale(0.4) rotate(-35deg) translateX(5px) translateY(60px); }

.eyelash-3 {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(0.2) rotate(-27deg) translateX(130px) translateY(180px);
      -ms-transform: scale(0.2) rotate(-27deg) translateX(130px) translateY(180px);
          transform: scale(0.2) rotate(-27deg) translateX(130px) translateY(180px); }

.big-flash,
.small-flash {
  fill: white; }

.iris {
  fill: blue; }

.big-flash {
  -webkit-transform-origin: 20px 20px;
      -ms-transform-origin: 20px 20px;
          transform-origin: 20px 20px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg); }

.eye-hole {
  fill: black; }

.ghost-shape-hd {
  fill: green; }

.ghost-shape-8b {
  fill: red; }

.ghost-eye-8b {
  fill: white; }

.ghost-eyeball-8b {
  fill: blue; }

.ghost-8bit {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: black; }

.ghost-hd {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: black; }

.title {
  background-color: beige; }

.title-text {
  font-family: '8BitWonder', monospace;
  fill: magenta;
  font-size: 40px; }
