@import 'variables';
@import 'mixins';
@import './utils/fonts';

@include custom-font-mixin-simplified('8BitWonder', '8-bit_wonder', $path-8-bit-wonder-fonts);
@include custom-font-mixin-simplified('PressStart', 'pressstart2p', $path-press-start-fonts);

@mixin font-8-bit-wonder {
  font-family: '8BitWonder', monospace;
}

@mixin font-press-start {
  font-family: 'PressStart', monospace;
}

*,
html,
body {
  @include set-to-zero;
}

.section {
  box-sizing: border-box;
}

@mixin txt {
  @include font-press-start;
  color: yellow;
  font-size: 12px;
  letter-spacing: 2px;
  @media screen {

    @media (min-width: $media-br-1) {
      font-size: 18px;
      letter-spacing: 3px;
    }
  }
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
}
